<!--news.html-->
<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
     >



        <div>
           <div>
           <form th:action="@{/newsForm}">
               <h2>News for </h2>
               Filter:
               <label>
                   <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
                   <input type="text" name="keyword" th:value="${keyword}" required/>
               </label>
               &nbsp;
               <input type="submit" value="search"/>
               &nbsp;
               <input type="button" value="clear" onclick="clearFilter()"/>

           </div>
            <p></p>

            <table border="2" cellpadding="10" >
                <thead>
                    <tr >
                        <th>id</th>
                        <th>title</th>
                        <th>link</th>
                        <th>pubDate</th>
                        <th>creator</th>
                        <th>category</th>
                        <th>guid</th>
                     </tr>
                 </thead>
                <tbody>
                <!--/*@thymesVar id="news" type="com.example.news.services.NewsServices"*/-->

             <!--/*@thymesVar id="News" type="com.example.news.services.NewsServices"*/-->
             <tr th:each="post : ${News.getAllNewss()}">
                <td th:text="${post.id}"></td>
                <td  th:text="${post.title}"> </td>
                <td th:text="${post.link} "> </td>
                <td th:text="${post.pubDate}" > </td>
                <td th:text="${post.creator}" > </td>
                <td th:text="${post.category}" > </td>
                <td th:text="${post.guid}"> </td>
            </tr>

                </tbody>
            </table>
        </div>
    </form>
<script type="text/javascript">
    function clearFilter(){
        window.location = '/news.html';
    }
</script>
</html>