<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
     >

<form name='f' th:action="@{/allNews} " method='POST'>
<h2>News for </h2>



    <form  action="#" method='POST' th:action="@{/see}" >
        <div>

           <div>
           <form th:action="@{/please}">
               Filter:
               <label>
                   <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
                   <input type="text" name="keyword" th:value="${keyword}" required/>
               </label>
               &nbsp;
               <input type="submit" value="search"/>
               &nbsp;
               <input type="button" value="clear" onclick="clearFilter()"/>
           </form>
           </div>
            <p></p>

            <table border="2" cellpadding="10" >
                <thead>
                    <tr >
                        <th>id</th>
                        <th>title</th>
                        <th>link</th>
                        <th>pubDate</th>
                        <th>creator</th>
                        <th>category</th>
                        <th>guid</th>
                     </tr>
                 </thead>
                <tbody>

                <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
             <!--/*@thymesVar id="news" type="com.example.news.controllers.NewsController"*/-->
             <tr th:each="new : ${news.newsForm(news,keyword)}">
                <td th:text="${new.id}"></td>
                <td  th:text="${new.title}"> </td>
                <td th:text="${new.link} "> </td>
                <td th:text="${new.pubDate}" > </td>
                <td th:text="${new.creator}" > </td>
                <td th:text="${new.category}" > </td>
                <td th:text="${new.guid}"> </td>
            </tr>
                </tbody>
            </table>
        </div>
    </form>
<script type="text/javascript">
    function clearFilter(){
        window.location = '/news.html';
    }
</script>
</html>