<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<form name='f' th:action="categories" method='POST' >
    <LINK rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <!--/*@thymesVar id="useName" type="com.example.news.dob.User"*/-->
    <h2 th:text="'Caregory for ' + ${useName}" ></h2>
    <ul>
        <li><a th:href="@{newsViewAdmin}">News</a></li>
        <li><a th:href="@{subscriptionView}">Subscriptions</a></li>
        <li><a th:href="@{categoryView}">Categories</a></li>
        <li><a th:href="@{userListView}">List of users</a></li>
    </ul>
    <div>
        <div>
            Filter:
            <label>
                <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
                <input type="text" name="keyword" th:value="${keyword}" required/>
            </label>
            &nbsp;
            <input type="submit" value="search"/>
            &nbsp;
            <input type="button" value="clear" onclick="clearFilter()"/>

        </div>
        <p></p>
    </div>
</form>
<table border="2" cellpadding="10">
    <thead>
    <tr>
        <th>id</th>
        <th>news_category</th>

    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="oneNote" type="com.example.news.dob.NewsCategory"*/-->
    <!--/*@thymesVar id="category" type="com.example.news.dob.NewsCategory"*/-->
    <tr th:each="oneNote: ${category}">
        <td th:text="${oneNote.id}"></td>
        <td th:text="${oneNote.news_category.toString()}"></td>


    </tr>
    </tbody>
</table>
</body>

<script type="text/javascript">
    function clearFilter() {
        window.location = '/categoriesPage.html';
    }
</script>
</html>