<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--/*@thymesVar id="news" type="com.example.news.dob.MyNews"*/-->
    <form name='f' th:action="news" method='POST' th:object="${news}">
        <link href="../static/css/newsAdmin.css" th:href="@{/css/newsAdmin.css}" rel="stylesheet" />
        <!--/*@thymesVar id="useName" type="com.example.news.dob.User"*/-->
        <h2 th:text="'News for ' + ${useName}" ></h2>
        <ul>
            <li><a th:href="@{newsUserView}">News</a></li>
            <li><a th:href="@{subscriptionView}">Subscriptions</a></li>
            <li><a th:href="@{profile}">My account</a></li>
        </ul>
        <p></p>
        <div>
            <div>
                Filter:
                <label>
                    <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
                    <input type="text" name="keyword" th:value="${keyword}" />
                </label>
                &nbsp;
                <input type="submit" value="search"/>
                &nbsp;
                <input type="button" value="clear" onclick="clearFilter()"/>

            </div>
            <p></p>
        </div>
    </form>
    <table  border="2" cellpadding="10">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>link</th>
            <th>pubDate</th>
            <th>creator</th>
            <th>category</th>
            <th>guid</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="oneNote" type="com.example.news.dob.MyNews"*/-->
        <tr th:each="oneNote: ${news}">
            <td th:text="${oneNote.id}"></td>
            <td th:text="${oneNote.title}"></td>
            <td th:text="${oneNote.description}"></td>
            <td th:text="${oneNote.link} "></td>
            <td th:text="${oneNote.pubDate}"></td>
            <td th:text="${oneNote.creator}"></td>
            <td>
                <!--/*@thymesVar id="category" type="com.example.news.dob.NewsCategory"*/-->
                <div th:each="category: ${oneNote.categories}">
                    <p th:text="${category.news_category}"></p>
                </div>
            </td>
            <td th:text="${oneNote.guid}"></td>
        </tr>
        </tbody>
    </table>
          <!--  <div id="myModal2" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Подтвердите действия</h4>
                        </div>
                        <div class="modal-body">
                            <th:block th:text="'TestTest '"></th:block>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary" >Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>-->
</body>

<script type="text/javascript">
    function clearFilter() {
        window.location = '/newsUserView';
    }

</script>
</html>