<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <title>Registration page</title>
    <LINK rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h1>Add one note</h1>
<div class="container">

    <!--/*@thymesVar id="news" type="com.example.news.dob.MyNews"*/-->
    <form th:action="saveYourNews" method="post"
          style="max-width: 800px; margin: 0 auto" th:object="${news}">
        <div class="m-5">
            <div class="form-group row">
                <label class="col-form-label col-4">title</label>
                <div class="col-8">
                    <input type="text" th:field="*{title}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">categories</label>
                <div class="col-8">
                    <select class="form-control" name="categories" id="categories" th:field="*{categories}">
                        <!--/*@thymesVar id="category" type="com.example.news.dob.NewsCategory"*/-->
                        <option th:each="category : ${allCategories}" th:value="${category.id}" th:text="${category.news_category}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">creator</label>
                <div class="col-8">
                    <input type="text" th:field="*{creator}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">description</label>
                <div class="col-8">
                    <input type="text" th:field="*{description}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">guid</label>
                <div class="col-8">
                    <input type="text" th:field="*{guid}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">pubDate</label>
                <div class="col-8">
                    <input type="date" th:field="*{pubDate}" required/>
                </div>
            </div>
        </div>
        <p></p>
        <button type="submit" onclick="${/saveYourNews}">update news</button>
        <p></p>
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>



