                <!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                </head>
                <body>

                <!--/*@thymesVar id="subscription" type="com.example.news.dob.Subscriptions"*/-->
                <form name='f' th:action="subscription" method='POST' th:object="${subscription}">
                    <link href="../static/css/newsAdmin.css" th:href="@{/css/newsAdmin.css}" rel="stylesheet" />
                    <!--/*@thymesVar id="useName" type="com.example.news.dob.User"*/-->
                    <h2 th:text="'Subscriptions for ' + ${useName}" ></h2>
                    <ul>
                        <li><a th:href="@{newsViewAdmin}">News</a></li>
                        <li><a th:href="@{subscriptionView}">Subscriptions</a></li>
                        <li><a th:href="@{categoryView}">Categories</a></li>
                        <li><a th:href="@{userListView}">List of users</a></li>
                   <!--     <li><a th:href="@{}">Logout</a></li>-->
                    </ul>
                    <div>
                        <div>
                            Filter:
                            <label>
                                <!--/*@thymesVar id="keyword" type="com.example.news.repository.NewsRepository"*/-->
                                <input type="text" name="keyword" th:value="${keyword}" required/>
                            </label>
                            &nbsp;
                            <input type="submit" value="search"/>
                            &nbsp;
                            <input type="button" value="clear" onclick="clearFilter()"/>

                        </div>
                        <p></p>
                    </div>
                </form>
                <table border="2" cellpadding="10">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>titleOfSub</th>
                        <th>cost</th>
                        <th>status</th>
                        <th>term</th>
                        <th>Subscribe</th>


                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="oneNote" type="com.example.news.dob.Subscriptions"*/-->
                    <tr th:each="oneNote: ${subscription}">
                        <td th:text="${oneNote.id}"></td>
                        <td th:text="${oneNote.titleOfSub}"></td>
                        <td>
                            <div class="tooltip">
                                <p th:text="${oneNote.cost.costs}"></p>
                                <span class="tooltiptext">Текст подсказки</span>
                            </div>
                            <a></a>
                            <a href="#win1" class="button button-blue">change cost</a>
                            <a href="#x" class="overlay" id="win1"></a>
                            <div class="popup">
                                <div class="form-group row">
                                    <label class="col-form-label col-4">Cost</label>
                                    <div class="col-8">
                                       <!-- <input type="text" th:field="*{oneNote.cost}" required/>-->
                                    </div>
                                </div>
                                <button> save </button>
                                <a class="close"title="Закрыть" href="#close"></a>
                            </div>

                        </td>
                        <td th:text="${oneNote.status}"></td>
                        <td th:text="${oneNote.cost.subForm}"></td>
                        <td> <a id="btn" th:href="@{'/save'}" >subscribe</a></td>
                    </tr>
                    </tbody>
                </table>
                </body>

                <script type="text/javascript">
                    function clearFilter() {
                        window.location = '/subscriptionPage.html';
                    }
                    const btn = document.getElementById('btn');
                    btn.addEventListener('click', function handleClick() {
                        btn.textContent = 'added';
                    });
                </script>
                </html>