<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <img src="https://img.freepik.com/premium-vector/figure-person-walk-icon-pedestrian-side-sign-vector-people-line-silhouette-human_352905-478.jpg" alt="John" style="width:10%">
    <!--/*@thymesVar id="user" type="com.example.news.dob.User"*/-->
    <h1 th:text = "${user.userName}"></h1>
    <h1 th:text = "${user.secondName}"></h1>
    <h1 th:text = "${user.phoneNumber}"></h1>
    <!--/*@thymesVar id="subscriptions" type="com.example.news.dob.Subscriptions"*/-->
    <h1 th:text = "${subscriptions}"></h1>
    <p class="title">user</p>
    <table border="2" cellpadding="10">
        <thead>
        <tr>
            <th>id</th>
            <th>My subscriptions</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oneNote: ${subscriptions}">
            <td th:text="${oneNote.titleOfSub}"></td>
            <td th:text="${oneNote.cost}"></td>
            <td>

                <!--/*@thymesVar id="oneNote" type="com.example.news.dob.NewsCategory"*/-->
                <!--/*@thymesVar id="categories" type="com.example.news.dob.NewsCategory"*/-->
                <div th:each="category: ${oneNote.categories}">
                    <p th:text="${category.news_category}"></p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p><button></button></p>
</div>
</body>
</html>